* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #e1b4fe;
}
a:hover{
  color: #aa32eb;

}
a:visited{
  color: #bd54f8;

}
body{
  background-color: #242027;
}
footer{
  display: flex;
  justify-content: center;
  margin: .625rem;
}
.container{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: .625rem;
  gap: .3125rem;
}
.container .title{
  color: #aa32eb;
  font-size: 1.25rem;
  text-transform: uppercase;

}
.container .description{
  color: #d7adee;
  font-size: 13px;
}
.layout {
  margin: 0.9375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 150px 300px;
  gap: 1.25rem;
  justify-content: center;
}

.layout > .grid-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.layout > .grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 200ms ease-in;
}

i {
  color: #cf83fd;
  font-size: 25px;
  padding-right: 0.625rem;
}

article:has(:hover) > .banner {
  visibility: visible;
  opacity: 1;
}
article:has(:hover) > picture .profile-picture {
  visibility: visible;
  opacity: 1;
}
article:has(:hover) > .walpapper {
  filter: blur(1px);
}

.profile-picture {
  border-radius: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 5px;
  right: 5px;
  z-index: 1;
  border: 2px solid #e1b4fe;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #242027;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
}
.banner ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  color: white;
}
.banner ul li {
  padding: 5px;
  margin: 5px;
  display: flex;
}
.banner ul li:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;

}
.banner ul a i:hover {
  color: #aa32eb;
}

.--show-on-hover {
  transition: visibility, opacity 500ms ease-in;
}

@media (min-width: 610px) {
  .layout {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .banner ul li:first-child {
    max-width: 100px;
  }
}
@media (min-width: 800px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 150px 400px;
  }
  .layout .grid-item:nth-child(even) {
    grid-column: span 1;
    grid-row: span 2;
  }
  .layout .grid-item:nth-child(odd) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .banner ul li:first-child {
    max-width: 100px;
  }
}
@media (max-width: 600px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
